<ul class="nav nav-underline justify-content-center p-3" data-bs-theme="dark">
    <li class="nav-item">
        <a class="nav-link text-danger" href="/">Página Inicial</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link text-danger dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Filmes</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/pages/movie/filmes.html">Listagem</a></li>
          <li><a class="dropdown-item" href="/pages/movie/cadastro-filmes.html">Cadastro</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link text-danger dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Salas</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/pages/movie/salas.html">Listagem</a></li>
          <li><a class="dropdown-item" href="/pages/movie/cadastro-salas.html">Cadastro</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/session/cadastro-sessoes.html">Cadastro de Sessões</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/ticket/venda-ingressos.html">Venda de Ingressos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/session/sessoes.html">Listagem de Sessões Disponíveis</a>
    </li>
</ul>
