<ul class="nav nav-underline justify-content-center p-3" data-bs-theme="dark">
    <li class="nav-item">
        <a class="nav-link text-danger" href="/">Página Inicial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/movie/filmes.html">Filmes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/room/salas.html">Salas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/session/sessoes.html">Sessões</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/ticket/ingressos.html">Ingressos</a>
    </li>
</ul>
