<ul class="nav nav-underline justify-content-center p-3" data-bs-theme="dark">
    <li class="nav-item">
        <a class="nav-link text-danger" href="/">Página Inicial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/movie/cadastro-filmes.html">Cadastro de Filmes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/room/cadastro-salas.html">Cadastro de Salas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/session/cadastro-sessoes.html">Cadastro de Sessões</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/ticket/venda-ingressos.html">Venda de Ingressos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/pages/session/sessoes.html">Listagem de Sessões Disponíveis</a>
    </li>
</ul>
